{% extends "poll/base.html" %}
{% block content %}
<div class ="container">
<div class="q-container">
<h3 class="test">{{ question.question_text }}</h3>
</div>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'poll:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<br/>
<input type="submit" value="Vote" />
</form>
</div>
{% endblock %}