{% extends "poll/base.html" %}

{% block content %}

<div style="margin-top:120px; margin-left: 300px">
	<p>
		Hello parents,<br>
			We welcome you to monthly Feedback system. This system </br>monitors your attentions toward your child.For measuring this<br/> you need to login into the system. </br> If you are not already a member of this system you need to sign-up.
			</br>
			</br>
			Lets proceed.
	</p>
</div>
<div style="margin-top:200px; margin-left: 600px">
<a href="{% url 'poll:login'%}" style="margin-left: 20px">Login</a>
<a href="{% url 'poll:signup'%}" style="margin-left: 40px">Signup</a>

	
</div>
{% endblock %}